swagger: "2.0"
info:
  description: preecnher descrição
  title: Graduação
  version: "1.0"
  termsOfService: https://sid.redes.unb.br/termos
  contact:
    email: 180108042@aluno.unb.br
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  
host: sid.redes.unb.br:443
basePath: /api/graduacao/dlp
tags:
  - name: Aluno
  - name: Curso
  - name: Disciplina
  - name: Histórico Acadêmico
  - name: Martrícula
  - name: Tuma

schemes:
  - https
  - http

consumes:
  - application/json
produces:
  - application/json

paths:
  /Aluno:
    get:
      summary: Pesquisa Alunos
      description: ''
      operationId: searchAluno
      tags:
      - Aluno
      parameters:
      - name: nome
        in: query
        description: (Parte do) nome dos alunos
        required: false
        type: string
      - name: curriculo
        in: query
        description: (Parte do) nome dos alunos
        required: false
        type: string
      - name: curso
        in: query
        description: código do curso dos alunos
        required: false
        type: string
      - name: unidade
        in: query
        description: código da unidade (do curso) dos alunos
        required: false
        type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/Aluno'
        404:
          description: not found

  /Aluno/{id}:
    parameters:
      - name: id
        in: path
        description: Matrícula do Aluno
        required: true
        type: string
    get:
      tags:
      - Aluno
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/Aluno'

  /AlunoList:
    get:
      summary: Pesquisa Alunos
      description: ''
      operationId: listAlunos
      tags:
      - Aluno
      parameters:
      - name: nome
        in: query
        description: (Parte do) nome dos alunos
        required: false
        type: string
      - name: matricula
        in: query
        description: matricula
        required: false
        type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/AlunoList'
        404:
          description: not found

  /AlunoList/{nome}:
    parameters:
      - name: nome
        in: path
        description: (Parte do) nome do Aluno
        required: true
        type: string
    get:
      tags:
      - Aluno
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/AlunoList'
            
  /AlunoList/{matricula}:
    parameters:
      - name: matricula
        in: path
        description: Matrícula do Aluno
        required: true
        type: string
    get:
      tags:
      - Aluno
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/AlunoList'

  /Curso:
    get:
      tags:
      - Curso
      parameters:
      - name: nome
        in: query
        description: (Parte do) nome do curso
        required: false
        type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/Curso'

  /Curso/{codigo}:
    get:
      parameters:
      - in: path
        type: string
        name: 'codigo'
        required: true
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/Curso'

  /CursoList:
    get:
      parameters:
      - name: nome
        in: query
        description: (Parte do) nome do curso
        required: false
        type: string
      - name: codigo
        in: query
        description: (Parte do) nome do curso
        required: false
        type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/CursoList'

  /CursoList/{nome}:
    get:
      parameters:
      - name: nome
        in: path
        description: (Parte do) nome do curso
        required: true
        type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/CursoList'
            
definitions:
  Disciplina:
    type: object
    properties:
      codigo:
        type: string
      nome:
        type: string
      unidade:
        $ref: '#/definitions/Unidade'
      preRequisitos:
        $ref: '#/definitions/DisciplinaList'
      CargaHoraria:
        $ref: '#/definitions/CargaHoraria'
      disciplinaEstruturaCurricular:
        $ref: '#/definitions/DisciplinaEstruturaCurricular'

  DisciplinaShort:
    type: object
    properties:
      codigo:
        type: string
      nome:
        type: string
    
  DisciplinaList:
    type: array
    items:
      $ref: '#/definitions/DisciplinaShort'

  Unidade:
    type: object
    properties:
      codigo:
        type: string
      nome:
        type: string

  CargaHoraria:
    type: object
    properties:
      teorica:
        type: integer
      pratica:
        type: integer

  EstruturaCurricular:
    type: object
    properties:
      codigo: 
        type: string
      status:
        type: string
      disciplinas:
        type: array
        items:
          $ref: '#/definitions/DisciplinaEstruturaCurricular'
      prazo:
        $ref: '#/definitions/Prazo'
      cargaHorariaCurricular:
        $ref: '#/definitions/CargaHorariaCurricular'
      periodoLetivoVigencialInicial:
        $ref: '#/definitions/PeriodoLetivo'
        
  DisciplinaEstruturaCurricular:
    type: object
    properties:
      tipo:
        type: string
      nivel:
        type: string
      modalidade:
        type: string

  Prazo:
    type: object
    properties:
      minimo:
        type: integer
      medio:
        type: integer
      maximo:
        type: integer
  
  CargaHorariaCurricular:
    type: object
    properties:
      totalMinima:
        type: integer
      totalObrigaoria:
        type: integer
      optativaMinima:
        type: integer
      complementarMinima:
        type: integer
      maximaPeriodoLetivo:
        type: integer

  PeriodoLetivo:
    type: object
    properties:
      ano:
        type: integer
      numero:
        type: integer

  Curso:
    type: object
    properties:
      codigo:
        type: string
      nome:
        type: string
      modalidade:
        type: string
      grauAcademico:
        type: string
      turno:
        type: string
      sede:
        type: string
      unidades:
        type: array
        items:
          $ref: '#/definitions/Unidade'
      coordenador:
        $ref: '#/definitions/Coordenador'
      curriculos:
        $ref: '#/definitions/EstruturaCurricular'

  CursoShort:
    type: object
    properties:
      codigo:
        type: string
      nome:
        type: string

  CursoList:
    type: array
    items:
      $ref: '#/definitions/CursoShort'

  Coordenador:
    type: object
    properties:
      nome:
        type: string

  Aluno:
    type: object
    properties:
      matricula:
        type: string
      nome:
        type: string
      curriculo:
        type: string
      ira:
        type: number
      periodoLetivo:
        $ref: '#/definitions/PeriodoLetivo'
    
  AlunoShort:
    type: object
    properties:
      matricula:
        type: string
      nome:
        type: string
  
  AlunoList:
    type: array
    items:
      $ref: '#/definitions/AlunoShort'
    
  Matricula:
    type: object
    properties:
      status:
        type: string
      aluno:
        $ref: '#/definitions/Aluno'
      turma:
        $ref: '#/definitions/Turma'

  Turma:
    type: object
    properties:
      codigo:
        type: string
      vagasOfertadas:
        type: integer
      vagasOcupadas:
        type: integer
      periodoLetivo:
        $ref: '#/definitions/PeriodoLetivo'
      horarios:
        type: array
        items:
          $ref: '#/definitions/HorarioSemanal'
      disciplina:
        $ref: '#/definitions/Disciplina'

  HorarioSemanal:
    type: object
    properties:
      dia:
        type: string
      horaInicio:
        type: string
      horaFim:
        type: string
      professor:
        $ref: '#/definitions/Professor'
      local:
        $ref: '#/definitions/Localidade'

  Professor:
    type: object
    properties:
      nome:
        type: string
  
  Localidade:
    type: object
  
  HistoricoAcademico:
    type: object
    properties:
      aluno:
        $ref: '#/definitions/Aluno'
      disciplinas:
        type: array
        items:
          $ref: '#/definitions/TurmaHistoricoAcademico'

  TurmaHistoricoAcademico:
    type: object
    properties:
      aprovacao:
        type: boolean
      mencao:
        type: string
      turma:
        $ref: '#/definitions/Turma'
